<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!--  <div class="container">
    <div class="jumbotron text-center">
  <h1>My First Static Page site</h1>
  
</div>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">DevsInc</a>
    </div>
    <ul class="nav navbar-nav">
      <%if (yield(:title))==="Home"%>
          <li class="active"><a href="/static_pages/home">Home</a></li>
          <li><a href="/static_pages/help">Help</a></li>
          <li><a href="/static_pages/about">About Us</a></li>
      <%end%>   
       <%if (yield(:title))==="About"%>
          <li><a href="/static_pages/home">Home</a></li>
          <li><a href="/static_pages/help">Help</a></li>
          <li class="active"><a href="/static_pages/about">About Us</a></li>
      <%end%>   
       <%if (yield(:title))==="Help"%>
          <li><a href="/static_pages/home">Home</a></li>
          <li class="active"><a href="/static_pages/help">Help</a></li>
          <li><a href="/static_pages/about">About Us</a></li>
      <%end%>     
      
    </ul>
  </div>
</nav>
</div> -->
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "sample app", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home",'#' %></li>
<li><%= link_to "Help",'#' %></li>
<li><%= link_to "Log in", '#' %></li>
</ul>
</nav>
</div>
</header>
<div class="container">

</div>
    <%= yield %>
  </body>
</html>
